/* ViewUser.css */
.patientdetail {
  text-align: center;
}

.card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto; /* Center the card horizontally */
}

.card-header {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item b {
  min-width: 100px;
  display: inline-block;
}

.btn-primary {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
}
